form{
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-between;
  align-items: center;
}

form textarea {
  background-color: transparent;
  width: 30em;
  border-top: none;
  border-left: none;
  border-right: none;
}

button{
  background-color: #4056A1;
  font-family: Bungee, sans-serif;
  color: #FFF;
}

form div{
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;
  font-family: Bungee, sans-serif;
}

footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  margin: 1em;
  height: 40px;
}

.new-tweet{
  width: 30em;
  margin-bottom: 2em;
}

.new-tweet h2 {
  text-align: center;
}

.tweet-container{
  display: flex;
  flex-direction: column;
  width: 30em;
}

.tweet-container article{
  border: 1px solid rgb(0, 0, 0);
  height: auto;
  width: 30em;
  margin-top: 1em;
  margin-bottom: 1em;
  transition: box-shadow .3s;
  border-radius:10px;
}

.tweet-container article:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.form-tweet {
  width: 30em;
}

.tweet-box-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 19px;
  padding: 15px;
  height: 40px;
  margin-top: 10px;
}

#tweet-user{
  display: flex;
  align-items: center;
  justify-content: center;
}

#tweet-user img{
  height: 1.5em;
  width: 1.5em;
  margin-right: 1em;
}

#tweet-icons{
  display: flex;
  align-items: center;
  justify-content: center;
}

#tweet-icons i{
  margin: 4px
}

#the-tweet{
  height: auto;
  font-size: 20px;
  margin: 1em;
}

#error{
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: red;
  width: 30em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.fa-retweet:hover{
  color: red;
}

.fa-heart:hover{
  color: red;
}

.fa-flag:hover{
  color:red;
}

